
  <div class="jumbotron">
    <h1 class="display-1">Welcome to the Online Trip Planner</h1>
    <p class="lead">Plan your trip using this website!</p>
    <hr class="my-5">
    <p class="lead">Please log in or register first before using the website!</p>
    <div class="row">
      <div class="col-6">
        <button mat-raised-button color="primary" class="wide" [routerLink]="['/login']" >Log In</button>
      </div>
      <div class="col-6">
        <button mat-raised-button color="primary" class="wide" [routerLink]="['/register']">Register</button>
      </div>
    </div>
</div>




